*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/

# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore dataset files
app/test_data/wisdm-dataset/
figures/
